.DS_Store
14_20200510_VM_step_2_240_40_40_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_2_pts_in_2_mins_pre-load_with_4_req_per_VM
14_serverless_vm_cloud_update_150_0.8.log_request_VM_step_2_240_40_40_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_2_pts_in_2_mins_pre-load_with_4_req_per_VM
15_20200510_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_4_req_per_VM
15_20200510_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_4_req_per_VM_
15_20200510_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_4_req_per_VM.txt
16_20200510_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_4_req_per_VM_1800_epoch
16_20200510_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_4_req_per_VM_1800_epoch_
16_20200510_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_4_req_per_VM_1800_epoch.txt
17_20200511_VM_step_2_240_40_40_req_per_vm_2_to_2_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_0_req_per_VM
17_20200511_VM_step_2_240_40_40_req_per_vm_2_to_2_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_0_req_per_VM_
17_20200511_VM_step_2_240_40_40_req_per_vm_2_to_2_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_0_req_per_VM.txt
17_testing
17_testing_compare_with_console_alarm_
17_testing.txt
18_20200511_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_0_req_per_VM
18_20200511_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_mins_pre-load_with_0_req_per_VM.txt
18_testing_
19_20200511_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_3_pts_in_3_mins_pre-load_with_0_req_per_VM
19_20200511_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_3_pts_in_3_mins_pre-load_with_0_req_per_VM_
19_20200511_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_3_pts_in_3_mins_pre-load_with_0_req_per_VM.txt
24_20200513_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_1_min_pts_pre-load_with_0_req_per_VM_scaling_per_300_sec
24_20200513_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_1_min_pts_pre-load_with_0_req_per_VM_scaling_per_300_sec_
24_20200513_VM_step_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_1_min_pts_pre-load_with_0_req_per_VM_scaling_per_300_sec.txt
25_20200514_VM_simple_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_1_min_pts_pre-load_with_0_req_per_VM_not_wait_scaling_per_300_sec_
25_20200514_VM_simple_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_and_monitoring_new_alarm_1_pts_in_1_1_min_pts_pre-load_with_0_req_per_VM_not_wait_scaling_per_300_sec_1800_total_duration
25_20200514_VM_simple_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec
25_20200514_VM_simple_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_
25_20200514_VM_simple_2_240_40_40_req_per_vm_1_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec.txt
25_testing
25_testing.txt
34_20200518_VM_simple_2_240_-60_-100_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total
34_20200518_VM_simple_2_240_-60_-100_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total_
35_20200518_VM_simple_2_240_-60_-100_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total_
36_20200518_VM_simple_2_240_-60_-100_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total_
39_20200518_VM_simple_2_240_-100_-140_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total
39_20200518_VM_simple_2_240_-100_-140_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total.txt
39_serverless_vm_cloud_hide_update_300_0.8.log_request
42_20200518_VM_simple_2_240_40_-40_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total
42_20200518_VM_simple_2_240_40_-40_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total.txt
42_serverless_vm_cloud_hide_update_300_0.8.log_request
51_20200519_VM_simple_2_240_-140_-180_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total
51_20200519_VM_simple_2_240_-140_-180_req_per_vm_3_to_1_to_9_pos_std_wait_for_server_new_alarm_1_pts_in_1_1_min_pts_scaling_per_300_sec_1800_total.txt
51_serverless_vm_cloud_update_300_0.8.log_request
20200427_fix_num_VM
20200427_fix_num_VM.txt
20200428_fix_num_VM_
20200428_fix_num_VM__
20200428_fix_num_VM__.txt
20200428_fix_num_VM_.txt
20200428_Hybrid
20200428_MAX_VM
20200428_MAX_VM.txt
serverless_vm_cloud_update_150_0.8.log_request
__pycache__/
data/
data copy/
*.pyc